<launch>
  <node name="DetectionNode" pkg="ts_detection" type="yolo_detections.py" output="screen"/>
  <param name='/yolo_weight_file' type='str' value='/home/can/desktop_thesis/results/yolov5/yolov5l/weights/best.pt'/>
  <param name='/yolo_dir' type='str' value='/home/can/desktop_thesis/yolov5'/>
  <param name='/input_source' type='str' value='/home/can/desktop_thesis/notebooks/sample_video_01_cut.mp4'/>
  <param name='/yolo_input_size' type='int' value='640'/>
  <param name='/yolo_confidence' type='double' value='0.8'/>
  <param name='/yolo_iou' type='double' value='0.9'/>
  <param name='/save_output' type='bool' value='False'/>
  <param name= '/detected_imgs_save_dir' type = 'str' value = '/home/can/desktop_thesis/ros_detections/'/>
  <param name='/debug' type='bool' value='False'/>
  <param name='/output_video' type='bool' value='True'/>
  <param name= '/autoencoder_model' type = 'str' value = '/home/can/desktop_thesis/ae_weights/cropped_allfullmodel1mse.h5'/>
</launch>